.block {
    width: 250px;
    height: 250px;
    color: white;
    background-color: black;
    float: left;
    margin: 2px;
    font-size: 50px;
    text-align: center;
    line-height: 225px;
    vertical-align: middle;
}